.about {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: white;
  border: 1px solid lightgray;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-wrapper {
  width: 100%;
  border-bottom: 1px solid blue;
}

.flipcard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flipcard-section {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.flipcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  background-color: white;
}

.flipcard-button {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}