.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;;
}

.logo {
  width: 50%;
  text-align: center;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 0.5em;
}

.footerLinks {
  margin: 5px;
}