.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;;
}

.logo {
  width: 50%;
  border: 1px solid red;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 0.5em;
  border: 1px solid blue;
}