.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: left;
  background-color: #222;
  color: white;
  vertical-align: middle;
}