.app {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: left;
  background-image: url("./Images/digital.png");
  color: white;
  vertical-align: middle;
}

.main {
  background-image: url("./Images/topo-white.jpg");
  background-size: 100%;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.footer {
  background-color: lightslategray;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}