a {
  padding: 0px 40px 0px 40px;
  font-size: 2em;
  cursor: pointer;
}

.header {
  height: 75px;
  display: flex;
  flex-direction: row;
}

.title {
  padding-left: 10px;
  font-size: 2em;
  float: left;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.headerLinks {
  width: 50%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}